.placeholder {
    height: 100%;
    line-height: 42px;
    color: cornflowerblue;
    user-select: none;
    position: absolute;
}

.consoleInput {
    height: 100%;
    font-size: xx-large;
    position: relative;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    z-index: 1;
    caret-color: transparent;
}

.consoleInput:focus-visible {
    caret-color: black;
}

.consoleResult {
    height: 100%;
    font-size: xx-large;
    position: absolute;
    width: 95%;
    z-index: 0;
    color: rgba(39, 39, 39, 0.525);
    top: 0;
    left: 2.5%;
}

.subconsoleResult {
    height: 100%;
    font-size: xx-large;
    width: 100%;
    color: rgba(39, 39, 39, 0.525);
    background: inherit;
}
