.settingsContainer {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    gap: 1em;
}

.settingItem {
    background-color: #1f6dbb;
    border-radius: 10px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.206);
}

.settingTextZone {
    width: 85%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.settingTitle {
    font-size: large;
    font-weight: bold;
}

.settingDescription {
    font-size: small;
    font-weight: normal;
}

.settingValue {
    margin: 0 auto;
    font-size: 1em;
    font-weight: bold;
}

.buttonarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    gap: 1em;
}

.save {
    margin: 0 auto;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #1f6dbb;
    border: 1px solid #2d2b2b;
    border-radius: 0.25em;
    padding: 0.5em;
    cursor: pointer;
}

.reset {
    margin: 0 auto;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #1f6dbb;
    border: 1px solid #2d2b2b;
    border-radius: 0.25em;
    padding: 0.5em;
    cursor: pointer;
}

button:hover {
    background-color: #0f69ca;
}

button:focus {
    background-color: #2689f3;
    outline-color: cornflowerblue;
}
