.settingsContainer {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    gap: 1em;
    padding-bottom: 25px;
}

.settingItem {
    background-color: #292e33;
    border-radius: 2px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 0 rgba(16, 15, 15, 0.206);
}

.settingTextZone {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .2em;
}

.settingTitle {
    font-size: large;
    font-weight: bold;
}

.settingDescription {
    font-size: small;
    font-weight: normal;
}

.settingValue {
    padding: 0 1.5em;
    font-size: 1em;
    font-weight: bold;
}

.buttonarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    gap: 1em;
}

.save {
    margin: 0 auto;
    font-size: 1em;
    font-weight: bold;
    color: white;
}

.reset {
    margin: 0 auto;
    font-size: 1em;
    font-weight: bold;
    color: white;
}

button {
    background-color: #39434c;
    border: 1px solid #46525d;
    border-radius: 2px;
    padding: .5em 1em;
    cursor: pointer;
}

button:hover {
    background-color: #495662;
}

button:focus {
    background-color: #495662;
    outline-color: rgb(36, 37, 39);
}

.selectFormatOptions {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
    background: "#ddd",
}

.selectFormatOptions:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
