name: 'Generate Release'
on:
  push:
    branches:
      - main

jobs:
  test-types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install app dependencies
        run: yarn

      - name: Run typecheck
        run: yarn tsc

  semantic-release:
    runs-on: ubuntu-latest
    needs: test-types

    outputs:
      new_release: ${{ steps.semantic.outputs.new_release_published }}
      release_version: ${{ steps.semantic.outputs.new_release_version }}

    steps:
      - uses: actions/checkout@v3

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@v3
        with:
          semantic_version: 19
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-executable:
    runs-on: windows-latest
    needs: semantic-release
    if: needs.semantic-release.outputs.new_release == 'true'

    steps:
      - uses: actions/checkout@v3

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
 
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "./src-tauri -> target"

      - name: Install app dependencies
        run: yarn
      
      - name: bump package version
        run: npm pkg set version="${{ needs.semantic-release.outputs.release_version }}"

      - name: get latest release id
        id: latest_release_id
        uses: actions/github-script@v6
        with:
          script: |
            const { data } = await github.rest.repos.getLatestRelease({ 
              owner: context.repo.owner,
              repo: context.repo.repo
            })

            return data.id

      - uses: tauri-apps/tauri-action@v0
        id: tauri_action
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          releaseId: ${{ steps.latest_release_id.outputs.result }}

